main .history_article { color: #3f3c3d; background-color: #f4f5f9; font-size: 1em; font-family: "NotoSans", sans-serif; font-weight: 300; letter-spacing: -0.01em; }

main .history_article .history_visual .visual_wrap { height: 350px; background-color: #ccc; background-position: 50%; background-size: cover; background-image: url("../images/images/main/main-visual01.jpg"); position: relative; }

main .history_article .upbox_wrap { position: relative; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; }

main .history_article .upbox_wrap .upbox_inner { width: 100%; z-index: 3; text-align: center; }

main .history_article .upbox_wrap .upbox_inner .up_box { margin-top: 30px; margin-bottom: 10px; width: 1200px; margin-left: auto; margin-right: auto; display: inline-block; }

main .history_article .upbox_wrap .upbox_inner .up_box strong { letter-spacing: 0.05em; font-weight: 800; text-transform: uppercase; color: #888; font-size: 28px; }

main .history_article .upbox_wrap .upbox_inner .up_box .middle_menu { margin: 30px 0 30px 0; font-size: 24px; text-align: center; }

main .history_article .upbox_wrap .upbox_inner .up_box .middle_menu a { padding: 50px; font-weight: 400; }

main .history_article .upbox_wrap .upbox_inner .up_box .middle_menu a.on { color: #00aaff; }

main .history_article .history_wrap { width: 1200px; margin-left: auto; margin-right: auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; word-break: keep-all; word-wrap: break-word; }
