@charset "UTF-8";
#main #mainVisual { overflow: hidden; position: relative; }

#main #mainVisual ul li { height: 100vh; background-repeat: no-repeat; background-size: cover; background-position: 50%; }

#main #mainVisual ul li.visual01 { background-image: url("../images/images/main/main-visual03.jpg"); }

#main #mainVisual .slogan { position: absolute; z-index: 3; top: 45%; left: 30%; text-align: center; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; }

#main #mainVisual .slogan .main { font-size: 60px; font-weight: 600; margin-bottom: 30px; text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1); }

#main #mainVisual .visual_box { position: absolute; padding: 50px; width: 100vw; top: 70vh; right: 500px; margin: auto; }

#main #mainVisual .visual_box .list_wrap { position: relative; width: 350px; height: 100%; z-index: 1; display: -webkit-box; display: -ms-flexbox; display: flex; margin: 0 auto; -webkit-box-sizing: border-box; box-sizing: border-box; }

#main #mainVisual .visual_box .list_wrap li { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 100%; height: 100%; position: relative; margin-left: 50px; }

#main #mainVisual .visual_box .list_wrap li a { position: relative; display: block; padding: 10px; width: 300px; height: 150px; border: 7px solid rgba(255, 255, 255, 0.4); -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 0.25s ease-in 0.05s; transition: all 0.25s ease-in 0.05s; }

#main #mainVisual .visual_box .list_wrap li a dl { margin-top: 20px; }

#main #mainVisual .visual_box .list_wrap li a dl dt { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-weight: 700; color: rgba(255, 255, 255, 0.6); margin-bottom: 25px; }

#main #mainVisual .visual_box .list_wrap li a dl dt em { font-size: 18px; color: #a2ff40; }

#main #mainVisual .visual_box .list_wrap li a dl dd { margin-left: 10px; font-size: 36px; color: #fff; line-height: 1; letter-spacing: -0.075em; }

#main #mainVisual .visual_box .list_wrap li:hover { background-image: url(../images/images/main/doctor.png); background-position: right bottom; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; bottom: 20px; background-size: contain; background-color: #00aaff; }

#main .introduce { width: 100%; background-color: #f4f7ff; }

#main .introduce .with_itc { width: 1200px; height: 600px; margin: 0 auto; }

#main .introduce .with_itc .inner .margin { height: 80px; }

#main .introduce .with_itc .inner .tab_box { display: -webkit-box; display: -ms-flexbox; display: flex; }

#main .introduce .with_itc .inner .tab_box .tab { width: 500px; height: 100px; }

#main .introduce .with_itc .inner .tab_box .tab .txt_box { margin: 40px; }

#main .introduce .with_itc .inner .tab_box .tab .txt_box h4 { font-size: 18px; }

#main .introduce .with_itc .inner .tab_box .tab .txt_box h2 { margin-top: 20px; font-size: 32px; font-weight: 600; }

#main .introduce .with_itc .inner .tab_box .tab .btn button { margin: 30px 0 0 40px; width: 100px; height: 100px; border: 1px solid #999; border-radius: 50%; background-color: #eee; color: #111; font-weight: 700; font-size: 20px; }

#main .introduce .with_itc .inner .tab_box .tab .btn button:hover { background-color: #111; color: #111; z-index: 55; background-image: url(../images/images/main/pointer.png); background-repeat: no-repeat; background-color: red; background-size: cover; width: 100px; top: 50px; left: 50px; }

#main .introduce .with_itc .inner .view_box { width: 800px; }

#main .introduce .with_itc .inner .view_box ul li { height: 500px; background-repeat: no-repeat; background-size: cover; background-position: 50%; border-radius: 25px; -webkit-box-shadow: 3px 3px 3px 3px gray; box-shadow: 3px 3px 3px 3px gray; }

#main .introduce .with_itc .inner .view_box ul li.introduce_01 { background-image: url("../images/images/main/bg-01.jpg"); }

#main .introduce .with_itc .inner .view_box ul li.introduce_02 { background-image: url("../images/images/main/bg-02 - 복사본.jpg"); }

#main .introduce .with_itc .inner .view_box ul li.introduce_03 { background-image: url("../images/images/main/bg-03.jpg"); }

#main .introduce .with_itc .inner .view_box ul li .wrap { margin: 70px 30px 0 30px; }

#main .introduce .with_itc .inner .view_box ul li .wrap .up_box { font-size: 36px; }

#main .introduce .with_itc .inner .view_box ul li .wrap .up_box .under_box { display: inline-block; margin-bottom: 20px; float: right; }

#main .introduce .with_itc .inner .view_box ul li .wrap .up_box .under_box a { border: 3px solid #fff; border-radius: 25px; padding: 10px; color: #fff; font-size: 18px; }

#main .introduce .with_itc .inner .view_box ul li .wrap .up_box .under_box a span { vertical-align: top; margin-top: 10px; }

#main .introduce .with_itc .inner .view_box ul li .wrap .up_box .under_box :hover { background-color: #fff; color: #000; }

#main .introduce .with_itc .inner .view_box ul li .wrap .down_box { width: 400px; float: right; }

#main .introduce .with_itc .inner .view_box ul li .wrap .down_box h4 { font-size: 24px; margin: 50px 0 0 200px; text-align: flex-start; word-break: keep-all; }

#main .notice_wrap { width: 1200px; margin: 80px auto 120px; height: 300px; display: -webkit-box; display: -ms-flexbox; display: flex; }

#main .notice_wrap .margin { height: 80px; }

#main .notice_wrap .notice { float: left; position: relative; width: 840px; margin-right: 60px; }

#main .notice_wrap .notice .main { height: 28px; margin: 0 0 30px; line-height: 1; }

#main .notice_wrap .notice .main h2 { float: left; font-size: 28px; color: #000; font-weight: 700; }

#main .notice_wrap .notice .main a { float: right; display: block; width: 22px; height: 22px; margin: 2px 10px 0 0; font-size: 0; }

#main .notice_wrap .notice .sub { width: 100%; height: 228px; border-top: 1px solid #000; border-bottom: 1px solid #000; }

#main .notice_wrap .notice .sub ul li { padding: 12px 0 14px; }

#main .notice_wrap .notice .sub ul li a { display: block; width: 100%; font-size: 16px; color: #555; line-height: 30px; }

#main .notice_wrap .notice .sub ul li a .title { display: inline-block; width: calc(100% - 112px); vertical-align: top; color: #555; }

#main .notice_wrap .notice .sub ul li a .title em { display: inline-block; vertical-align: top; width: 70px; height: 30px; margin: 0 20px 0 0; background: #f8f8f8; font-size: 14px; color: #999; line-height: 30px; text-align: center; }

#main .notice_wrap .notice .sub ul li a .date { display: inline-block; width: 102px; padding: 0; vertical-align: top; color: #c9c9c9; text-align: center; }

#main .notice_wrap .customer_center { position: relative; width: 380px; }

#main .notice_wrap .customer_center .main { height: 28px; margin: 0 0 30px; line-height: 1; }

#main .notice_wrap .customer_center .main h2 { float: left; font-size: 28px; color: #000; font-weight: 700; }

#main .notice_wrap .customer_center .main a { float: right; display: block; width: 22px; height: 22px; margin: 2px 10px 0 0; font-size: 0; }

#main .notice_wrap .customer_center .tel_box { width: 100%; height: 228px; border-top: 1px solid #000; border-bottom: 1px solid #000; }

#main .notice_wrap .customer_center .tel_box .tel_up { display: block; padding: 39px 0 20px 10px; display: -webkit-box; display: -ms-flexbox; display: flex; line-height: 1.3; color: #777; font-size: 15px; border-bottom: 1px solid #d1d1d1; }

#main .notice_wrap .customer_center .tel_box .tel_up strong { display: block; margin: 0px 0 0; width: 207px; height: 32px; font-weight: bold; font-size: 36px; color: #000; }

#main .notice_wrap .customer_center .tel_box .support { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; text-align: center; margin-top: 10px; }

#main .notice_wrap .customer_center .tel_box .support .consult { border: 2px solid blue; margin: 0 5px 0 5px; background-color: #999; }

#main .notice_wrap .customer_center .tel_box .support .consult a img { width: 30px; }

#main .notice_wrap .customer_center .tel_box .support .consult a span { display: inline-block; color: #fff; }

#main .notice_wrap .customer_center .tel_box .support .consult:hover { background-color: red; }

#main .notice_wrap .customer_center .tel_box .sns_box { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 20px; }

#main .notice_wrap .customer_center .tel_box .sns_box div a img { width: 50px; padding: 10px; }

#main #recruit { background: url("../images/images/main/main-visual.jpg") no-repeat 50%; background-size: cover; color: #111; padding: 80px; height: 350px; }

#main #recruit .wrap { width: 1200px; margin: 0 auto; }

#main #recruit .wrap .titleBox { margin-bottom: 40px; font-weight: 700; }

#main #recruit .wrap .titleBox h2 { color: #0c8baf; font-size: 18px; text-align: left; margin-bottom: 40px; }

#main #recruit .wrap .titleBox .top { font-size: 24px; text-align: left; line-height: 1.5; }

#main #recruit .wrap .titleBox .bottom { font-size: 24px; text-align: left; line-height: 1.8; opacity: 0.7; }

#main #recruit .wrap .document_box .document ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

#main #recruit .wrap .document_box .document ul li { display: block; width: 100%; margin: 30px; border: 2px solid #fff; border-radius: 25px 25px 0 0; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; }

#main #recruit .wrap .document_box .document ul li:hover { -webkit-transform: translateY(-10px); transform: translateY(-10px); }

#main #recruit .wrap .document_box .document ul li .recruit { padding: 31px; }

#main #recruit .wrap .document_box .document ul li .recruit div { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; color: #fff; }

#main #recruit .wrap .document_box .document ul li .recruit div p { margin-bottom: 60px; font-size: 24px; font-weight: 600; }

#main #recruit .wrap .document_box .document ul li .recruit div span { margin-left: 120px; font-size: 16px; font-weight: 500; }

#main #recruit .wrap .document_box .document ul li .recruit hr { margin: 20px; }

#main #recruit .wrap .document_box .document ul li .recruit .button a { margin-right: 10px; border: 1px solid #fff; border-radius: 25px; padding: 15px; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; background-color: #f1f1f1; color: #111; }

#main #recruit .wrap .document_box .document ul li .recruit .button :hover { background-color: #0c8baf; color: #fff; }

#main #recruit .wrap .document_box .document ul li .partner { padding: 31px; border-radius: 25px 25px 0 0; }

#main #recruit .wrap .document_box .document ul li .partner div { display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; }

#main #recruit .wrap .document_box .document ul li .partner div p { margin-bottom: 60px; font-size: 24px; font-weight: 600; color: #fff; }

#main #recruit .wrap .document_box .document ul li .partner div span { margin-left: 120px; font-size: 16px; color: #fff; font-weight: 500; }

#main #recruit .wrap .document_box .document ul li .partner hr { margin: 20px; }

#main #recruit .wrap .document_box .document ul li .partner .button a { margin-right: 10px; border: 1px solid #fff; border-radius: 25px; padding: 15px; -webkit-transition: all 0.25s ease; transition: all 0.25s ease; background-color: #f1f1f1; }

#main #recruit .wrap .document_box .document ul li .partner .button :hover { background-color: #6fbe46; color: #fff; }

@-webkit-keyframes iconAni { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(10px); transform: translateY(10px); } }

@keyframes iconAni { 0% { -webkit-transform: translateY(0); transform: translateY(0); }
  100% { -webkit-transform: translateY(10px); transform: translateY(10px); } }
